// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --font-kanit : 'Kanit', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --ion-font-family : var(--font-nunito);

    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #3D8E44;
    --ion-color-success-rgb: 61, 142, 68;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #367d3c;
    --ion-color-success-tint: #509957;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #100F15;
	--ion-color-dark-rgb: 16,15,21;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #0e0d12;
	--ion-color-dark-tint: #28272c;

    /** darkish **/
    --ion-color-darkish: #24232B;
    --ion-color-darkish-rgb: 36,35,43;
    --ion-color-darkish-contrast: #ffffff;
    --ion-color-darkish-contrast-rgb: 255,255,255;
    --ion-color-darkish-shade: #201f26;
    --ion-color-darkish-tint: #3a3940;

    /** medium **/
    --ion-color-medium: #57565E;
	--ion-color-medium-rgb: 87,86,94;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #4d4c53;
	--ion-color-medium-tint: #68676e;

    /** light **/
    --ion-color-light: #E6E5EA;
	--ion-color-light-rgb: 230,229,234;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cacace;
	--ion-color-light-tint: #e9e8ec;
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */

    body {
        --ion-color-primary: #428cff;
        --ion-color-primary-rgb: 66, 140, 255;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #3a7be0;
        --ion-color-primary-tint: #5598ff;

        --ion-color-secondary: #50c8ff;
        --ion-color-secondary-rgb: 80, 200, 255;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #46b0e0;
        --ion-color-secondary-tint: #62ceff;

        --ion-color-tertiary: #6a64ff;
        --ion-color-tertiary-rgb: 106, 100, 255;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #5d58e0;
        --ion-color-tertiary-tint: #7974ff;

        --ion-color-success: #3D8E44;
        --ion-color-success-rgb: 61, 142, 68;
        --ion-color-success-contrast: #ffffff;
        --ion-color-success-contrast-rgb: 255, 255, 255;
        --ion-color-success-shade: #367d3c;
        --ion-color-success-tint: #509957;

        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;

        --ion-color-danger: #ff4961;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;

        --ion-color-dark: #100F15;
        --ion-color-dark-rgb: 16,15,21;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255,255,255;
        --ion-color-dark-shade: #0e0d12;
        --ion-color-dark-tint: #28272c;

        --ion-color-darkish: #24232B;
        --ion-color-darkish-rgb: 36,35,43;
        --ion-color-darkish-contrast: #ffffff;
        --ion-color-darkish-contrast-rgb: 255,255,255;
        --ion-color-darkish-shade: #201f26;
        --ion-color-darkish-tint: #3a3940;

        --ion-color-medium: #57565E;
        --ion-color-medium-rgb: 87,86,94;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255,255,255;
        --ion-color-medium-shade: #4d4c53;
        --ion-color-medium-tint: #68676e;

        --ion-color-light: #E6E5EA;
        --ion-color-light-rgb: 230,229,234;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0,0,0;
        --ion-color-light-shade: #cacace;
        --ion-color-light-tint: #e9e8ec;
    }

    /*
   * iOS Dark Theme
   * -------------------------------------------
   */

    .ios body {
        --ion-background-color: #100F15;
        --ion-background-color-rgb: 16,15,21;

        --ion-text-color: #E6E5EA;
        --ion-text-color-rgb: 230,229,234;

        --ion-color-step-50: #1b1a20;
        --ion-color-step-100: #25242a;
        --ion-color-step-150: #302f35;
        --ion-color-step-200: #3b3a40;
        --ion-color-step-250: #46454a;
        --ion-color-step-300: #504f55;
        --ion-color-step-350: #5b5a60;
        --ion-color-step-400: #66656a;
        --ion-color-step-450: #706f75;
        --ion-color-step-500: #7b7a80;
        --ion-color-step-550: #86858a;
        --ion-color-step-600: #908f95;
        --ion-color-step-650: #9b9a9f;
        --ion-color-step-700: #a6a5aa;
        --ion-color-step-750: #b1b0b5;
        --ion-color-step-800: #bbbabf;
        --ion-color-step-850: #c6c5ca;
        --ion-color-step-900: #d1d0d5;
        --ion-color-step-950: #dbdadf;

        --ion-item-background: #100F15;

        --ion-card-background: #24232B;
    }

    .ios ion-modal {
        --ion-background-color: var(--ion-color-step-100);
        --ion-toolbar-background: var(--ion-color-step-150);
        --ion-toolbar-border-color: var(--ion-color-step-250);
    }


    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

    .md body {
    	--ion-background-color: #100F15;
        --ion-background-color-rgb: 16,15,21;

        --ion-text-color: #E6E5EA;
        --ion-text-color-rgb: 230,229,234;

        --ion-border-color: #222222;

        --ion-color-step-50: #1b1a20;
        --ion-color-step-100: #25242a;
        --ion-color-step-150: #302f35;
        --ion-color-step-200: #3b3a40;
        --ion-color-step-250: #46454a;
        --ion-color-step-300: #504f55;
        --ion-color-step-350: #5b5a60;
        --ion-color-step-400: #66656a;
        --ion-color-step-450: #706f75;
        --ion-color-step-500: #7b7a80;
        --ion-color-step-550: #86858a;
        --ion-color-step-600: #908f95;
        --ion-color-step-650: #9b9a9f;
        --ion-color-step-700: #a6a5aa;
        --ion-color-step-750: #b1b0b5;
        --ion-color-step-800: #bbbabf;
        --ion-color-step-850: #c6c5ca;
        --ion-color-step-900: #d1d0d5;
        --ion-color-step-950: #dbdadf;

        --ion-item-background: #1e1e1e;

        --ion-toolbar-background: #24232B;

        --ion-tab-bar-background: #24232B;

        --ion-card-background: #1e1e1e;
    }
}
